body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c0b0f;
}

.video-container {
    max-width: 300px;
    margin: 0 auto;
    background: rgb(48, 47, 47);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

h4 {
    text-align: center;
    color: white;

}

h1 {
    text-align: center;
    color: white;
}

video {
    width: 100%;
    border-radius: 10px;
}

header {
    background-color: #0a0a0a;
    color: #fffefe;
    padding: 1px;
    text-align: center;
}

#contact {
    text-align: center;
}

#contact ul {
    margin-right: 35px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

img {
    text-align: center;
    background: rgb(68, 64, 64);
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 0px;
    height: 400px;
    width: 500px;
}

video {
    background-color: #3b3b3b;
}

.image-container {
    display: contents;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 50px;
}

footer {
    text-align: center;
    height: 100px;
    background-color: #0c0b0f;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    margin-top: 100%;
}

p {
    color: white;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer ul li {
    display: flex;
    align-items: center;
}

footer ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-size: 15px;
}

footer ul li img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-color: #0a0a0a;
}

#home {
    background-image: url('12backround-image/ajjj.jpg');
    background-size: cover;
    background-position: center;
    height: 109vh; /* Adjust as needed */

}

@media(max-width: 768px){
    nav ul {
        flex-wrap: wrap;
        display: block;
        
    }


}
nav ul {
    list-style: none;
    padding: 0;
    display: block;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: rgb(245, 241, 241);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #2c14fc;
}








